/* font-family: 'Poppins', sans-serif; */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(53, 47, 91);
    color: rgb(245, 245, 245);
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 25em;
    margin: 0 auto;
    padding: 2em .75em;
}

/* Header title */
.header-container h1 {
    text-align: center;
    font-size: 3.5em;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: .25em;
}

/* Form styling */
.search-form input,
.todo-form input {
    width: 100%;
    padding: .75em;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    background: rgba(0,0,0,0.2);
    color: rgb(250, 250, 250);
}

.todo-form label {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: .5em;
}

.todo-form {
    position: relative;
}

/* Todo list */
.todo-list {
    list-style: none;
    padding-left: 0;
}

.todo {
    display: flex;
    justify-content: space-between;
    background-color: rgb(66, 58, 111);
    padding: 1em 1.5em;
    margin-bottom: 2px;
    line-height: 16px;
    transition: all 500ms ease;
}

.add-todo {
    position: absolute;
    top: 65%;
    right: 5%;
}

.delete,
.check,
.add-todo {
    cursor: pointer;
}

.check {
    font-size: 1em;
    padding-right: 1em;
}

.completed {
    text-decoration: line-through;
    opacity: 0.3;
}

.filtered {
    display: none !important;
}

.remove {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0; 
}